<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=arr[0].sname%>的资料页</h1>
    <p>姓名:<%=arr[0].sname%></p>
    <p>年龄:<%=arr[0].sage%></p>
    <p>手机号:<%=arr[0].sphone%></p>
    <p>班级:<%=arr[0].sclass%></p>
</body>
</html>